body {
    margin: 0;
    font-family:"AvenirNext-Medium";
}

h2 {
    margin-top: 0;
    color: #000000;
    font-family:"AvenirNext-Bold";
}

.scroller {
    scroll-snap-type: mandatory;

    /* older spec implementation */
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    font-family: "AvenirNext-MediumItalic";
    letter-spacing: .1px;
}


.full_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@media (orientation: landscape) {
    .full_img {
        width:100%;
    }
}

@media (orientation: portrait) {
    .full_img {
        height:100%;
    }

}

.blurb {
}

.blurb h2 {
    font-size: 52px;
    text-align: right;
}

.tags {
    display: block;
    margin-top: 50px;
    font-size: 16px;
}
.pane {
    scroll-snap-align: start;
    position: relative;
    overflow: hidden; 
    height: 100vh;
}

.vertical_parent {
    height: 100vh;
}

.center_vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.one {
    background-color: #ffd21a;
}

.two .row {
    margin-right: 50px;
    margin-left: 50px;
}

.three {
    background-color: #3c4c93;
}

.three h2 {
    color: #6884fe;
    margin-bottom: 0px;
}

.three h3 {
    color: #6884fe;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 22px;
}

.three a {
    border-bottom: 2px solid #ffffff;
}

.three h3 a {
    border: none;
}

.three p {
    font-size: 20px;
    color: #ffffff;
}

.three .content {
    margin-left: 30px;
    margin-right: 100px;
}

.four p {
    font-size: 20px;
}

.five {
    color: #ffffff;
    background-color: #3c4c93;
}

.five h2 {
    font-size: 34px;
    color: #6884fe;
    margin-bottom: 10px;
}

.five h3 {
    font-family:"AvenirNext-Bold";
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 22px;
}

.five p {
    font-size: 20px;
}

.six {
    background-color: #ffd21a;
}

.seven p {
    font-size: 18px;
}

.seven .content {
    margin-right: 50px;
    margin-left: 50px;
}

.seven h2 {
    color: #3c4c93;
}

.seven h3 {
    font-family:"AvenirNext-Bold";
    color: #3c4c93;
}

.eight {
    background-color: #ffd21a;
}

.nine {
    background-color: #ffd21a;
}

.big_numeral {
    font-family:"AvenirNext-Bold";
    color: #465fa1;
    font-size: 80px;
    text-align: center;
    margin-top: 0;
}

.color_block {
    height: 100vh;
    background-color: #ffd21a;
}

.color_block h2 {
    color: #ffffff;
}

.color_block p {
    color: #ffffff;
    /*font-size: 18px;*/
    margin: 20px;
}

@media (min-width: 992px) {
    h2 {
        font-size: 42px;
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    h2 {
        font-size: 37px;
    }
    p {
        font-size: 14px;
    }
}

/* mobile */
@media (max-width: 767px) {
    .big_numeral {
        font-size: 52px;
        text-align: left;
        margin: 0;
    }
    h2 {
        font-size: 36px;
    }

    p {
        font-size: 12px;
    }
}

.blurb p{
    font-size: 20px;
}

#cactus_sale{
    color:#6884fe;
}