body {
    margin: 0;
    font-family:"AvenirNext-Medium";
}

h2 {
    margin-top: 0;
    color: #000000;
    font-family:"AvenirNext-Bold";
}

p {
     
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    font-family: "AvenirNext-MediumItalic";
    letter-spacing: .1px;
}

.content {
    margin: 50px;
}

.full_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@media (orientation: landscape) {
    .full_img {
        width:100vw;
    }
}

@media (orientation: portrait) {
    .full_img {
        height:100vh;
    }

}

.blurb {
    margin-top: 25vh;
}

.blurb h2 {
    text-align: right;
}
.pane {
    position: relative;
    overflow: hidden; 
    height: 100vh;
}


.one {
    background-color: #ffd21a;
}

.three {
    background-color: #3c4c93;
}

.three h2 {
    color: #6884fe;
    margin-bottom: 0px;
}

.three h3 {
    color: #6884fe;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 22px;
}

.three a {
    border-bottom: 2px solid #ffffff;
}

.three h3 a {
    border: none;
}

.three p {
    font-size: 20px;
    color: #ffffff;
}

.three .content {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 80px;
}

.four p {
    text-indent: 2.5em;
}



.big_numeral {
    font-family:"AvenirNext-Bold";
    color: #465fa1;
    font-size: 80px;
    text-align: center;
    margin-top: 0;
}

.color_block {
    height: 100vh;
    background-color: #6884fe;
}

.color_block h2 {
    margin-top: 20px;
    color: #ffffff;
}

.color_block p {
    color: #ffffff;
    /*font-size: 18px;*/
    margin: 20px;
}

@media (min-width: 992px) {
    h2 {
        font-size: 42px;
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    h2 {
        font-size: 37px;
    }
    p {
        font-size: 14px;
    }
}

/* mobile */
@media (max-width: 767px) {
    .big_numeral {
        font-size: 52px;
        text-align: left;
        margin: 0;
    }
    h2 {
        font-size: 36px;
    }

    p {
        font-size: 12px;
    }
}

.blurb p{
    font-size: 20px;
}