body {
	background: #24305e;
}

.initials {
	width:auto;
	z-index: 1;
	font-family:"AvenirNext-Bold";
	font-size: 4vw;
	overflow-x:hidden;
	padding-top: 2vh;
	padding-left: 2vw;
	color: #ffffff;
}

.sidenav {
	font-family:"AvenirNext-Medium";
	font-size:2vw;
	position:fixed;
	right:0;
	top:0;
	padding-top:4vh;
	padding-right:2vw;
	text-align:right;
	color: #374785;
	overflow-x: hidden;
}

.sidenav a{
	color: #374785;
	display:block;
	text-decoration:none;
}

.sidenav a:hover{
	color: #ffffff;
}
#active{
	color: #ffffff;
}

.home_image{
	height:100vh;
	width:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:5vh;
	margin-top:-8vh;

}
