body {
    margin: 0;
    font-family:"AvenirNext-Medium";
}

.header_img {
    width:100vw;
    /*width:auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pane {
    overflow: hidden; 
    height: 100vh;
}

.content {
    margin: 50px;
}

.back_button {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #e37222;
    border-radius: 70px;
    z-index: 1;
    margin: 10px;
}

.back_arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back_arrow span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid #2a9279;
    border-bottom: 3px solid #2a9279;
    transform: translate(-5px, -10px) rotate(45deg);
    transition: all .25s;
}

.back_button:hover .back_arrow span {
    transform: translate(-5px, -10px) rotate(45deg) scale(1.2);
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.one {
    position: relative;
    background-color: #2a9279;
}

h2 {
    margin-top: 0;
    color: #000000;
    font-family:"AvenirNext-Bold";
}

p {

}
.blurb {
    margin-top: 25vh;
}

.blurb h2 {
    text-align: right;
}

.three{
    background-color: #2a9279;
}

.section-title{
    font-family:"AvenirNext-Bold";
    color:#ffffff;
    font-size:36px;
}

.list{
    font-family: "Avenir Next";
    color: #ffffff;
    font-size: 24px;
}

.bullet{
    font-family: "AvenirNext-Bold";
    color:#e37222;
}

.bottom_text{
    font-family: "Avenir Next";
    color: #ffffff;
    font-size: 18px;
}

#text-box{
    padding-top: 15vh;
}
@media (min-width: 992px) {
    h2 {
        font-size: 52px;
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    h2 {
        font-size: 46px;
    }
    p {
        font-size: 14px;
    }
}

/* mobile */
@media (max-width: 767px) {
    .big_numeral {
        font-size: 52px;
        text-align: left;
        margin: 0;
    }
    h2 {
        font-size: 36px;
    }

    p {
        font-size: 12px;
    }
}